.ant-layout-header {
  padding: 0 10px 0 30px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.ant-layout-content {
  margin-top: 60px;
}
.ant-tabs-nav-list {
  margin: 0 auto;
}
/* 滚动槽 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0,0,0,0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgb(181 181 181 / 12%);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}
